*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    background-image:url('/images/kitch2.jpg');
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

header{
    width:75%;
    margin: 50px auto;
}
h1,ul{
    text-align:center;
}

a{
  text-decoration:none;  
  color:black;
  display:inline-block;
  background-color:white;
  padding: 5px 10px;
  border-radius:5px;
  
}

li{
    display:inline-block;
    margin: 10px 10px;
}

img{
    display:block;
    width:250px;
    height:auto;
    padding:15px;
}

a:hover{
   background-color:rgb(31, 92, 145);
   
   
}

.main-blog{
    font-size:20px;
    text-align:center;
    width:85%;
    margin:0 auto 30px auto;
    min-height:200px;
    padding:8px 16px;
    background-color: rgba(46, 138, 227, 0.38);
    border-radius:5px;
    box-shadow: 10px 10px;
}


@media (min-width: 500px){
    body{
    background-image:url('/images/kitchen-bg.jpg');
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    
   

}

    
}

@media (min-width: 1027px){

    
}